body {
    background-color:rgba(216, 196, 215, 0.801);
  }
  hr{
    border-style: none;
    border-top-style: dashed;
    border-color: antiquewhite;
    border-width: 4px;
    width: 10%;
  }
   h1{
    color: C85C8E;
  }
  h3{
    color: C85C8E;
  }
  